@using SyncfusionLab.AdaptorModels
@using SyncfusionLab.Components.Views


<div>
    <h1 class="text-success">課程清單</h1>
    <CourseView OnRecordChanged="RecordChanged" PageSize="@HeaderPageSize" />
    <StudentGradeView @ref="DetailView" CombineWithHeaderMode="true"
                      Header="@Header" PageSize="@DetailPageSize" />
</div>
<div style="height:100px"></div>

@code{
    public CourseAdaptorModel Header { get; set; } = new CourseAdaptorModel() { CourseId = -2 };
    public string HeaderDescription { get; set; } = "";
    StudentGradeView DetailView;
    [Parameter]
    public int DetailPageSize { get; set; } = 15;
    [Parameter]
    public int HeaderPageSize { get; set; } = 3;
    void RecordChanged(CourseAdaptorModel header)
    {
        Header = header;

        DetailView.RefreshNewMaster(Header);
    }
}